// *! opacity.sass © choa712@gmail.com, 2020 */
//
// * --------------------------------
// * Opacity
// * --------------------------------

@mixin opacity($opacity: 0.7){
	// Standard
	opacity: $opacity;
	$opacity-ie: $opacity * 100;
	// IE 하위버전 대응
	@include old-ie {
		filter: alpha(opacity=$opacity-ie);
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$opacity-ie})";
	}
}

@mixin opacity-ie($num: 0.5, $ie-num: 50){
	opacity: $num; // fx, safari, opera
	-moz-opacity: $num; // mozilla netscape
	// -khtml-opacity: $num; // khtml, old safari
	filter: alpha(opacity=$ie-num); // IE
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$ie-num})" // ie8
}
